@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --yellow: #ffcc00;
  --black: #000000;
  --blue: #455eef;
  /* --logo-responsive: calc(16px + 10vw); */
  --logo-responsive: calc(2.3rem + 3.5vw);
  --big-font: calc(1.095rem + 3.5vw);
  --small-font: calc(8px + 2vw);
  --medium-font: calc(11px + 0.7vw);
  --title-font: calc(11px + 2.5vw);
  --reg-btn-padding: calc(10px + 0.5vw) calc(15px + 1vw);
  --norm-padding: 15px;
}

* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.sss {
}
#error {
  display: none;
}

.insta-submit {
  height: 34px !important;
  max-height: 34px !important;
}

.insta-footer {
  display: flex;
  justify-content: center !important;
}

.insta-footer img {
  width: 80px !important;
  height: 80px !important;
  margin: auto;
}

.ig-input {
  font-size: 12px !important;
}

.ig-input::placeholder {
  font-weight: 600 !important;
  font-size: 12px !important;
}

.rmpd {
  width: 100% !important;
  color: #737373;
}

.rmb {
  margin-top: 0 !important;
}

a {
  text-decoration: none;
  color: #000000;
}

.logo {
  color: var(--black);
  font-weight: 800;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 0;
  line-height: 1.7rem;
  font-family: "Poppins";
  margin-bottom: 20px;
}

.lit {
  color: red !important;
}

.touch ._3-q2 {
  padding-left: 0;
  padding-right: 0;
}

.md-logo {
  font-size: 2rem !important;
}

.md-lit {
  font-size: 1.5rem;
  display: none;
}
