@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --yellow: #ffcc00;
  --black: #000000;
  --blue: #455eef;
  /* --logo-responsive: calc(16px + 10vw); */
  --logo-responsive: calc(2.3rem + 3.5vw);

  --big-font: calc(1.095rem + 3.5vw);
  --small-font: calc(8px + 2vw);
  --medium-font: calc(11px + 0.7vw);
  --title-font: calc(11px + 2.5vw);
  --reg-btn-padding: calc(10px + 0.5vw) calc(15px + 1vw);
  --norm-padding: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px; /* Width of the entire scrollbar */
}

/* Set the track color */
::-webkit-scrollbar-track {
  background-color: var(--yellow); /* Color of the scrollbar track */
}

/* Set the thumb color and rounded corners */
::-webkit-scrollbar-thumb {
  background-color: var(
    --black
  ); /* Color of the scrollbar thumb */ /* Rounded corners of the thumb */
}

html {
  overflow-x: hidden;
}

body {
  background-color: #f7f7f7 !important;
  position: relative;
  overflow-x: hidden;
  max-width: 1400px;
  margin: auto;
}

button {
  font-size: var(--medium-font);
  border: none;
  background-color: var(--yellow);
  padding: var(--reg-btn-padding);
  border-radius: 5px;
  transition: 0.07s linear;
  color: #000000;
}

button:active {
  transform: scale(0.9);
}

p {
  font-size: var(--medium-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h2 {
  font-size: var(--title-font);
}

h1 {
  color: #000000 !important;
  /* color: #353535; */
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
.parent-container {
  padding: var(--norm-padding);
}

button:active {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
